@media only screen and (max-width: 533px) {
    header {
        img {
            width: 75px;
        }

        h1 {
            font-size:130%;
        }

        p {
            font-size: 80%;
        }

        div {
            flex-direction: column;
            width: 100%;

            input[type="text"],a {
                width: 80%;
                margin-bottom: 1rem;
            }

            a {
                text-align: center;
            }
        }

    }

    .hero {
        width: 100%;
        img {
           width: 80%; 
        }
    }


}